.layui-carousel{
	height: 350px !important;
    background-position: center;
    background-size: cover;
}

.index-bc{
	padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 146px;
}
.bc-item{
	padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
@media (min-width: 1300px)
.container {
    width: 1260px;
    max-width: 100%;
}
.container {
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--grid-gutters);
    padding-left: var(--grid-gutters);
    text-align:center;
}
@media (min-width: 62em)
.col-lg-3 {
    width: 25%;
}
.row{
	width: 1300px;
	display:inline-block;
}
.row, .row > [class*=col-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index-bc .bc-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}	
.container, .row, .row > div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col-lg-3 {
    width: 310.5px;
    float: left;
}
.oparen_area{
    width: 1350px;
    height: 571.5px;
    margin: 0 auto;
}
.tablist{
    width: 1350px;
    height: 524.5px;
    margin-top: 15px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.oparen{
    width: 1350px;
    height: 524.5px;
    display:inline-block;
}
.col-xs-6{
   float: left;
}
.tablist .row > div {
    padding-left: 8px;
    padding-right: 8px;
}
.item-title > a{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left; 
    font: 12px/1.5 Tahoma,'Microsoft Yahei','Simsun';  
    font-size: 15px;     
}
.tablist-item{
    margin-top: 3px;
    width: 199px;
    height: 199px;
}
.tablist-item-a > a > img{
    width: 199px;
    height: 199px;
}
.tablist-item-a > a > img:hover{
    box-shadow: 3px 3px 1.5px #333;
}

@media (min-width: 1300px)
.container-fluid {
    width: 1260px;
    max-width: 100%;
}
@media (min-width: 1200px)
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px)
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.item-artist{
    color: #7B7B7B;
}
.layui-tab-title{
    margin-left: 80px;
}
.oparen-title{
    position: absolute;
   margin-left: 7px;
   margin-top: 5px;
  
}
.oparen-title > a{
    font: 10px/1.5 Tahoma,'Microsoft Yahei','Simsun';
   font-size: 1.2rem;
    font-weight: normal;
}

.tablist-item-a{
    width: 150px;
}
/* 小火箭css */
#gotop {
    width: 80px;
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    z-index: 99998;
    right: 50%;
    margin-right: -920px;
}
  
/* 小火箭悬停特效 */
#gotop:hover {
    animation: rubberBand 1s;
}
  
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  
  to {
    transform: scale3d(1, 1, 1);
  }
}
.box {
        font-family: 'Ubuntu', sans-serif;
        overflow: hidden;
        position: relative;
        transition: all 0.3s;
    }
.box:hover {
        box-shadow: 0 0 15px -5px #000;
    }
    .box:before {
        content: '';
        background-color: transparent;
        background-image: radial-gradient(circle at 20% 80%, transparent 29%, rgba(255,255,255,0.4) 30%, rgba(255,255,255,0.4) 33%, transparent 34%),  radial-gradient(circle at 80% 20%, transparent 29%, rgba(255,255,255,0.4) 30%, rgba(255,255,255,0.4) 33%, transparent 34%);
        background-size: 30px 30px;
        height: 100%;
        width: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        transition: all 0.3s ease 0.2s;
    }
    .box:hover:before {
        opacity: 1;
    }
    .box img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease 0s;
    }
    .box:hover img {
        filter: blur(2px);
    }
    .box .box-content {
        color: #fff;
        background-color: rgba(0,0,0,0.6);
        text-align: center;
        width: 100%;
        height: 45%;
        padding: 18% 0 0 0;
        position: absolute;
        left: 0;
        top: -100%;
        z-index: 2;
        transition: all 0.3s ease 0s;
    }
    .box:hover .box-content {
        top: 0;
    }
    .box .title {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
    .box .post {
        color: #32c287;
        font-size: 8px;
        font-style: italic;
        text-transform: capitalize;
        letter-spacing: 2px;
    }
    .box .icon {
        background: rgba(50,194,135,0.6);
        text-align: center;
        height: 25%;
        width: 100%;
        padding: 15px 0 0;
        margin: 0;
        list-style: none;
        transform: translateX(50%);
        position: absolute;
        right: 50%;
        bottom: -100%;
        z-index: 1;
        transition: all 0.3s;
    }
    .box:hover .icon {
        bottom: 0;
    }
    .box .icon li {
        display: inline-block;
        margin: 0 3px;
    }
    .box .icon li a {
        color: #32c287;
        background-color: #fff;
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        width: 40px;
        border-radius: 40%;
        display: block;
        transition: all 0.3s;
    }
    .box .icon li a:hover {
        color: #fff;
        background-color: #04a562;
        box-shadow: 0 0 0 3px rgba(255,255,255,0.5), 0 0 5px rgba(0,0,0,0.5) inset;
    }

    @media only screen and (max-width:990px) {
    .box {
        margin-bottom: 30px;
    }
    }

    @media only screen and (max-width:479px) {
    .box .title {
        font-size: 20px;
    }
    }