.layui-carousel{
	height: 350px !important;
    background-position: center;
    background-size: cover;
}

.index-bc{
	padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 146px;
}
.bc-item{
	padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
@media (min-width: 1300px)
.container {
    width: 1260px;
    max-width: 100%;
}
.container {
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--grid-gutters);
    padding-left: var(--grid-gutters);
    text-align:center;
}
@media (min-width: 62em)
.col-lg-3 {
    width: 25%;
}
.row{
	width: 1246px;
	display:inline-block;
}
.row, .row > [class*=col-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.index-bc .bc-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}	
.container, .row, .row > div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col-lg-3 {
    width: 310.5px;
    float: left;
}
.oparen_area{
    width: 1000px;
    height: 571.5px;
    margin: 0 auto;
}
.tablist{
    width: 1242px;
    height: 524.5px;
    margin-top: 15px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.oparen{
    width: 1000px;
    height: 524.5px;
    display:inline-block;
}
.col-xs-6{
   float: left;
}
.tablist .row > div {
    padding-left: 8px;
    padding-right: 8px;
}
.item-title > a{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left; 
    font: 12px/1.5 Tahoma,'Microsoft Yahei','Simsun';  
    font-size: 15px;     
}
.tablist-item{
    margin-top: 3px;
}
.tablist-item-a > a > img{
    width: 150px;
    height: 150px;
}
.tablist-item-a > a > img:hover{
    box-shadow: 3px 3px 1.5px #333;
}

@media (min-width: 1300px)
.container-fluid {
    width: 1260px;
    max-width: 100%;
}
@media (min-width: 1200px)
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px)
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.item-artist{
    color: #7B7B7B;
}
.layui-tab-title{
    margin-left: 80px;
}
.oparen-title{
    position: absolute;
   margin-left: 7px;
   margin-top: 5px;
  
}
.oparen-title > a{
    font: 10px/1.5 Tahoma,'Microsoft Yahei','Simsun';
   font-size: 1.2rem;
    font-weight: normal;
}

.tablist-item-a{
    width: 150px;
}
/* 小火箭css */
#gotop {
    width: 80px;
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    z-index: 99998;
    right: 50%;
    margin-right: -920px;
}
  
/* 小火箭悬停特效 */
#gotop:hover {
    animation: rubberBand 1s;
}
  
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  
  to {
    transform: scale3d(1, 1, 1);
  }
}